# Default ignored files
/shelf/
/workspace.xml
venv/*.*
../venv
../venv/
../.idea/ProjectToWorkWithGit.iml
../.idea/inspectionProfiles/
../ .idea/misc.xml
../.idea/modules.xml
../.idea/vcs.xml
.idea/ProjectToWorkWithGit.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
venv/

